{% extends 'base.html.twig' %}

{% block title %}Create Accomodation{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
     {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="container">
    <h1 class="m-3 font-weight-normal text-center">Create Accomodation</h1>

    {{ form_start(accomodationForm) }}
       
            {{form_rest(accomodationForm)}}
        <button type="submit" class="btn btn-primary mb-3">Register</button>
    {{ form_end(accomodationForm) }}
   </div>
   
{% endblock %}